if ({{ condition }}) {
{{ then_body | indent(4) }}
}
{% for elif in elifs %}
else if ({{ elif.condition }}) {
{{ elif.body | indent(4) }}
}
{% endfor %}
{% if else_body %}
else {
{{ else_body | indent(4) }}
}
{% endif %}
